*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #f3f5f9;
}

.container .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #5d65db;
    padding: 20px 0;
}

.container .sidebar h2{
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s;
}
.container .sidebar h2:hover{
    color: rgb(235, 235, 67);
}
.container .sidebar span{
   color: rgb(235, 235, 67);
   transition: .5s;
}
.container .sidebar span:hover{
    color: #fff;
}

.container .sidebar ul li a{
    color: #fff;
    padding: 5px;
}
.container .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid black;
    transition: .5s;
}
.container .sidebar ul li:hover{
    background: black;
}

.container .sidebar .social-media{
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.container .sidebar .social-media a{
    display: block;
    line-height: 40px;
    border-radius: 10px;
    background: black;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 5px;
    color: rgb(182, 175, 175);
    margin-bottom: 10px;
}

.container .sidebar .social-media a:hover{
    background: #d41818;
}

.main{
    margin-left: 250px;
    
}

.main .header{
    margin-bottom: 20px;
    color: #776c6c;
    background: #fff;
    padding: 20px;
}

.main .info{
    margin: 20px;
    color: #776c6c;
    line-height: 20px;
}















